html{font-family:arial;font-size:1rem;}
h1{font-size:230%;}
p{margin-left:1em;}
button{background-color:#d9ffd9;cursor:pointer;border:none;padding:.7rem;border-radius:20px;border:1px solid grey;}
button:hover{background-color:green;transition: background-color 150ms linear;}
input[type=password]{margin-right: .5rem;}
checkbox{appearance: none; width:40px; height:20px; background:#ccc; border-radius:20px; position:relative;" onchange="this.style.background=this.checked?'#4caf50':'#ccc';}
details{padding:10px;border-radius:20px;border:1px solid black;cursor:pointer;margin:2px}
#v{width:100%;margin-top:4px;padding:1px;overflow:hidden;}
#l{font-family:monospace;}
#ap{width:1rem;height:1rem;margin-left:1rem;}
#mv{margin-left:1rem;}
.ms{margin-left:1rem;}
.se:nth-child(2n){background-color: #19f7;}
.s{box-shadow:0 0 0 3px green;}
.t{display:inline-grid;text-align:center;padding:1rem 0;cursor:pointer;border-radius:20px;}
.t:hover{background-color:green;transition: background-color 500ms linear;}
.tp{display:inline-grid;border:none;border-radius:20px;width:100%;height:100%;background:#fff9;}
.w{display:inline-block;border:5px solid transparent;border-top-color:currentColor;border-radius:50%;border-style:solid;margin:4px;}
.ws3 .wv4.w, .ws2 .wv4.w, .ws2 .wv3.w, .ws1 .wv4.w, .ws1 .wv3.w, .ws1 .wv2.w{border-top-color:#eee;}
.wv1{border-color:black;}
.d{display:none;}
.c{background:green;margin-left:10px;padding:.3em;border-radius:4px;}
.er{color:red;font-weight:bold;}

